@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  color: black;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 3vh 25vh;
  align-items: center;
}

main {
  background-color: #F2F2F2;
  color: black;
  width: 60%;
  margin: 0vh auto;
  padding: 2vh;
  border: 1px solid black;
  margin-top: 5vh;
}

h2 {
  color: red;
  margin-bottom: 0px;
}

span {
  color: #5D16EB;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 1.3vh 3vh;
  border-radius: 25px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3vh 0vh;
}

.logo {
  display: flex;
  align-items: center;
}

.logo>img {
  width: 20%;
}

.opt-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin: 0px auto;
}

/* .opt-container button:hover {
  background-color: black;
  color: white;
} */

.opt-container button {
  background-color: white;
  border: 0.5px solid black;
  margin-top: 3vh;
  padding: 1vh;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 0px;
}

.opt-container>button :focus {
  background-color: black;
  color: white;
  border: 0.5px solid white;
}

footer>button {
  background-color: black;
  color: white;
}

/* footer button:hover {
  background-color: ;
  color: black;
} */

.result-box header {
  display: block;
  margin: 0%;
}

.result-box header h2 {
  color: black;
}

.result-box h3 {
  color: blue;
}

@media screen and (max-width: 768px) {
  header {
    margin: 3vh 7vh;
  }

  main {
    margin-top: 10vh;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  button {
    font-size: 12px;
    padding: 0.5vh 2.5vh;
  }

  .logo>img {
    width: 18%;
  }

  .opt-container {
    width: 85%;
  }

  .opt-container button {
    padding: 0.7vh 0vh;
  }
}

@media screen and (max-width:480px) {
  header {
    margin: 3vh 4vh;
  }

  main {
    width: 72%;
    padding: 1vh;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  button {
    padding: 0.5vh 2vh;
  }
}